
.section-padding-50 {
   width: 100%;
   padding: 50px 0px;
   display: flex;
   justify-content: center;
}

.container{
  padding: 10px;
  margin: 10px;
}

.optionsIcon{
  cursor: pointer;
}

.mb{
  margin-top: 4%;
}

label{
  font-weight: 700;
}

.error{
  margin-top: 0px;
  font-size: 12px;
  color: red;
}